<% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['User'], ['Book']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致","forward_match"],["後方一致","backward_match"],["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn btn-promary" %>
    <% end %>
  </div>
<% end %>

<!--
１行目：text_fieldにて'word'としてアクションに送信する
２行目：select :rangeで、どのモデル内を検索したいか指定する。今回はUser, Bookモデル両方を指定。
３行目：検索手法を定義。選択した検索手法をsearchとしてアクションに送信する
